src/test/resources/nvdl/todo.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="todo">
  <mode name="todo">
    <namespace ns="http://jadice.org/tools/relaxng-validator-maven-plugin/test/todo">
      <validate schema="../rng/todo.rng" useMode="attach"/>
      <validate schema="../xsd/todo.xsd" useMode="attach"/>
      <validate schema="../sch/todo.sch" useMode="attach"/>
    </namespace>
  </mode>
  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
</rules>
